/* Remove espaçamentos padrão e facilita o controle do tamanho dos elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define o tema escuro e as cores padrão do texto da aplicação */
body {
  background-color: #0f172a;
  color: #f8fafc;
}